name: test
on:
    pull_request:
        branches:
            - master
    push:
        branches:
            - master

jobs:
    test:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        strategy:
            matrix:
                node: ['18', '20', '22', '23']
        name: Node ${{ matrix.node }} test
        steps:
            - uses: actions/checkout@v2
            - name: Setup node
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node }}
            - run: npm ci
            - run: npm test

            - name: Coveralls Parallel
              uses: coverallsapp/github-action@master
              with:
                  github-token: ${{ secrets.github_token }}
                  flag-name: run-${{ matrix.node }}
                  parallel: true

    finish:
        name: Coveralls coverage
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Coveralls Finished
              uses: coverallsapp/github-action@master
              with:
                  github-token: ${{ secrets.github_token }}
                  parallel-finished: true
