name: test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

build:
  runs-on: ubuntu-latest
  timeout-minutes: 5
  strategy:
    matrix:
      node: [ '12', '14', '15' ]
  name: Node ${{ matrix.node }} test
  steps:
    - uses: actions/checkout@v2
    - name: Setup node
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
    - run: npm ci
    - run: npm test